.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background: #6d0f3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-button:hover {
    background: #50102b;
}
